BasedOnStyle: GNU
AlignEscapedNewlinesLeft: true
AlignOperands: Align
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBinaryOperators: All
BreakBeforeBraces: GNU
ColumnLimit: 70
ContinuationIndentWidth: 2
IndentPPDirectives: AfterHash
PPIndentWidth: 1
ForEachMacros:
  - FOR_EACH_TAIL
  - FOR_EACH_TAIL_SAFE
  - FOR_EACH_LIVE_BUFFER
  - ITREE_FOREACH
  - FOR_EACH_ALIST_VALUE
IncludeCategories:
  - Regex: '^<config\.h>$'
    Priority: -1
  - Regex: '^<'
    Priority: 1
  - Regex: '^"lisp\.h"$'
    Priority: 2
  - Regex: '.*'
    Priority: 3
WhitespaceSensitiveMacros:
  - STR
  - CALL1I
  - CALL2I
  - STR_VALUE
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PenaltyBreakBeforeFirstCallParameter: 2000
SpaceAfterCStyleCast: true
SpaceBeforeParens: Always
UseTab: Always
---
Language: Cpp
---
Language: ObjC

# Local Variables:
# mode: yaml
# End:
