---
Checks:          'clang-diagnostic-*,clang-analyzer-*,bugprone-*'
WarningsAsErrors: false
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     ''
CheckOptions:
  - key:             bugprone-unused-return-value
    value:           'mps_.*'
...