DEBUG
*.fasl
node_modules
roswell/lem-ncurses
*~

contrib/Makefile.am
Makefile.in
compile
configure
config.status
config.log
aclocal.m4
autom4te.cache
install-sh
missing
bin/
system-index.txt

lem-icon.svg
lem-ncurses.desktop

.DS_Store

GIT_IGNORE.*

lem
lem-ncurses
lem-server

*.abcl
build/*

*.lx64fsl
.qlot
/systems/

/result

TODO
