# .github/workflows/rst-check.yml -- check syntax of reStructuredText files
#
# This is a GitHub CI workflow
# <https://docs.github.com/en/actions/using-workflows/about-workflows>
# to check the syntax of reStructuredText files.

name: rst-check

on:
  # Run as part of CI checks on branch push and on merged pull request.
  - push
  - pull_request

jobs:
  rst-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install docutils
        run: sudo apt-get install -y docutils
      - name: Check reStructuredText syntax
        run: tool/checkrst
