# .p4ignore -- Perforce files to ignore from MPS Project
# $Id$
# Don't forget to consider files in more specific directories.
# Personal Perforce configurations
.p4config
# Mac OS X Finder turds
.DS_Store
# Patch results
*.orig
*.rej
# Autoconf and Automake output
Makefile
autom4te.cache
aclocal.m4
config.log
config.status
.deps
.dirstamp
bin
lib
tool/autoconf/build-aux/config.guess
tool/autoconf/build-aux/config.sub
tool/autoconf/build-aux/install-sh
configure
# Misc
TAGS
*.dSYM
*.pyc
test/obj
test/test/log
test/test/obj
....gcda
....gcno
\#*#
*~
.#.*
core

# Keep empty tool/autoconf/build-aux directory around
!tool/autoconf/build-aux/.gitkeep
