# .p4ignore -- Perforce files to ignore from MPS Project
# $Id$
# Don't forget to consider files in more specific directories.
# Personal Perforce configurations
.p4config
# Mac OS X Finder turds
.DS_Store
# Patch results
*.orig
*.rej
# Autoconf and Automake output
Makefile
autom4te.cache
config.log
config.status
.deps
.dirstamp
bin
lib
# Misc
TAGS
*.dSYM
*.pyc
test/obj
test/test/log
test/test/obj
....gcda
....gcno
\#*#
*~
.#.*
core
