# .travis.yml -- Travis CI configuration for the MPS
# $Id$
# See <https://docs.travis-ci.com/user/languages/c/>.
language: c
os:
  - linux
  - osx
  - windows
arch:
  - amd64
  - arm64
compiler:
  - clang
  - gcc
matrix:
  exclude:
    - os: osx
      compiler: gcc
notifications:
  email:
    - mps-travis@ravenbrook.com
# This shows how you can ask Travis to install or update packages.
#before_install:
#  - if test "$TRAVIS_OS_NAME" = "linux"; then sudo apt-get -qq update; fi
#  - if test "$TRAVIS_OS_NAME" = "linux"; then sudo apt-get install -y gcc-4.7; fi
script:
  - ./configure --prefix=$PWD/prefix && make install && make test
