# -*- mode: shell-script -*-
# Copyright (C) 2022-2023 Free Software Foundation, Inc.
#
# This file is part of GNU Emacs.
#
# GNU Emacs is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3, or (at your option)
# any later version.
#
# GNU Emacs is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.
#
# Use 'lldb --local-lldbinit' or add to your ~/.lldbinit the line
#
# settings set target.load-cwd-lldbinit true
#
# Emacs-specific commands start with 'x'.  Type 'help' to see all
# commands.  Type 'help <command>' to see help for a command
# <command>.

# Make Python find our files
script -- sys.path.append('../etc')

# Load our Python files
command script import emacs_lldb

# b xsignal
b pkg_break
#b pkg_error
#b Fpkg_read
# To find out from where macOS prints stuff to stderr, like
# 023-07-20 13:41:17.073449+0200 emacs[53072:1205906] [default]
#    CGSWindowShmemCreateWithPort failed on port 0
# b libsystem_trace.dylib``_os_log_error_impl
# Print with children provider, depth 2.
command alias xprint frame variable -P 2

# end.
